wwwroot/*.js
node_modules
typings
dist
coverage


# IDEs
.idea
.vscode
.sublime-workspace
.sublime-project
.idea/
.vscode/

# Possible credential files
.env
credentials.json

# git conflict leftover files
*.orig

# Mac
.DS_Store

VERSION.txt
git_push.sh

example/**/package-lock.json
